{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Registro</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }} Ingresa a la <a href="{{ url_for('auth.login') }}">página de inicio de sesión</a>.
            </div>
        {% endif %}
        {% endwith %}       
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Correo" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Nombre" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Contraseña">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Registrarse</button>
        </form>
    </div>
</div>
{% endblock %}